<div class="hero_area">
    <div class="bg-box">
        <img src="../../../assets/images/back2.jpg" alt="">
    </div>
    <!-- header section strats -->
    <app-header></app-header>
    <section class="food_section layout_padding-bottom dark-section">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Reservaciones
                </h2>
            </div>
            <div class="contenedor-reservaciones">
                <div class="card">
                    <h5 class="card-header titulo-reserva">Confirmada</h5>
                    <div class="card-body">
                      <!-- <h5 class="card-title">Cliente: <span class="nombre-reserva">Prueba1</span></h5> -->
                      <p class="card-text">Cliente: <span>Prueba 1</span></p>
                      <p class="card-text">Mesa: <span>10</span></p>
                      <p class="card-text">Número de personas: <span>3</span></p>
                      <p class="card-text">Fecha: <span>03/06/2024</span></p>
                      <p class="card-text">Hora: <span>4:45 p.m.</span></p>
                      <a href="#" class="btn btn-primary">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>