<div class="hero_area">
    <app-header></app-header>
    <section class="about_section layout_padding">
        <div class="container ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="../../../assets/images/info2.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Somos Ciprianis Ristorante
                            </h2>
                        </div>
                        <p>
                            ¡Bienvenido a Ciprianis Ristorante, el destino culinario donde la tradición italiana cobra
                            vida en cada bocado! Ubicado en el corazón de la ciudad, nuestro restaurante es un santuario
                            para los amantes de la auténtica cocina italiana. Desde el momento en que cruzas nuestras
                            puertas, te transportamos a las pintorescas calles de Italia, donde la pasión por la buena
                            comida y la hospitalidad se fusionan para crear una experiencia gastronómica inolvidable.
                            Con ingredientes frescos y recetas familiares transmitidas a través de generaciones, cada
                            plato que servimos es una celebración de los sabores robustos y la artesanía culinaria que
                            define a la cocina italiana. Ya sea que estés buscando una cena romántica, una reunión
                            familiar o simplemente un lugar para disfrutar de una excelente comida, en Ciprianis
                            Ristorante encontrarás el ambiente perfecto para deleitar tus sentidos y satisfacer tu
                            paladar. ¡Ven y únete a nosotros en un viaje gastronómico a través de Italia en cada visita!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contactanos
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Bogotá D.C
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Llama: +57 300 7526311
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    CiprianisRistorante@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Ciprianis
                        </a>
                        <p>
                            Donde la comida italiana y la delicia se unen.
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Horario
                    </h4>
                    <p>
                        Todos los días
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a><br><br>
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                </p>
            </div>
        </div>
    </footer>
</div>