<div class="hero_area">
    <div class="bg-box">
        <img src="../../../assets/images/back2.jpg" alt="">
    </div>
    <app-header></app-header>
    <section class="food_section layout_padding-bottom dark-section">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Nuestro menú
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active">All</li>
                <li (click)="consultarPlatosPorCategoria('Entrada')">Entrada</li>
                <li (click)="consultarPlatosPorCategoria('Plato principal')">Principal</li>
                <li (click)="consultarPlatosPorCategoria('Postre')">Postre</li>
                <li (click)="consultarPlatosPorCategoria('Bebida')">Bebida</li>

            </ul>
            <!--Aquí se listan los platos del menú-->
            <div class="filters-content">
                <div class="row grid">

                    <div class="col-sm-6 col-lg-4 all" *ngFor="let plato of platosXCategoriaList">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="{{plato.imagen}}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{plato.nombre}}
                                    </h5>
                                    <p>
                                        {{plato.descripcion}}
                                    </p>
                                    <div class="options">
                                        <h6>
                                            ${{plato.precio}}
                                        </h6>
                                        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001" />
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    Ver más
                </a>
            </div>
        </div>
    </section>


    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contactanos
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Bogotá D.C
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Llama: +57 300 7526311
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    CiprianisRistorante@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Ciprianis
                        </a>
                        <p>
                            Donde la comida italiana y la delicia se unen.
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Horario
                    </h4>
                    <p>
                        Todos los días
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a><br><br>
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                </p>
            </div>
        </div>
    </footer>
</div>